*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#wrapperlogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

#mainbox{
    width: 500px;
    background-color: white;
    height: 4500px;
    border: 1px solid silver;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
label{
    font-size: large;
}
#email{
    width: 450px;
    align-items: baseline;
}
#password{
    width: 450px;
    align-items: baseline;
}
input{
    width: 450px;
    height: 40px;
    border-radius:5px ;
    border: 1px solid silver    ;
}
#loginbutton{
    width: 450px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(135, 201, 241);
    color: white;
}
#loginbutton:hover{
    color: black;
    background-color:  rgb(104, 149, 176);
}
#loginheart{
    
    width: 150px;
    height: 130px;
}
#donthaveacc{
    width: 500px;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom:90px ;
}